<!--The content below is only a placeholder and can be replaced.-->

<h1>
  Welcome to {{ title }}!
</h1>

<h2><a href="https://chmln.github.io/flatpickr/" target="_new">Documentation</a></h2>

<h2>Flatpicker with time</h2>
<p>
  <input id="startDate1"
    class="flatpickr flatpickr-input"
    type="text"
    name="startDate"
    placeholder="Start date">

  <input id="endDate1"
    class="flatpickr flatpickr-input"
    type="text"
    name="endDate"
    placeholder="End date">
</p>

<h2>Flatpicker with date only</h2>
<p>
  <input id="startDate2"
    class="flatpickr flatpickr-input"
    type="text"
    name="startDate2"
    placeholder="Start date">

  <input id="endDate2"
    class="flatpickr flatpickr-input"
    type="text"
    name="endDate2"
    placeholder="End date">
</p>
