/* You can add global styles to this file, and also import other style files */


//import fltpicker styles 
//@import url('https://unpkg.com/flatpickr/dist/flatpickr.min.css');

//import from node_modules
@import '~flatpickr/dist/flatpickr.css';

//import theme 
//@import '~flatpickr/dist/themes/material_green.css';